@charset "utf-8";
@import url(https://use.typekit.net/efj7gzu.css);
/* CSS Document */

body {
	background: #89a9e2;
	display: block;
	margin: auto;
	width: 90%;
	padding: 20px;
}
h1 {
	font-family: "Comic Sans MS", cursive;
	font-size: 75px;
	text-align: center;
	margin-bottom: 0px;
	color: #8b1c40;
	font-weight:bold;
	margin-top: 0px;
}
.heading{
	border-bottom: #a2863d 10px solid;
	background: #1e345d;
	margin-top: 5px;
	border-top: #a2863d 5px solid;
	margin: 0px;
	padding: 20px;
}
h2{
	font-family: "Comic Sans MS", cursive;
	text-align: center;
	font-size: 40px;
	color: #85BA78;
	font-weight:bold;
	margin-top: 0px;	
	margin-bottom: 0px;
}
h3{
	font-family: "Comic Sans MS", cursive;
	text-align: center;
	font-size: 40px;
	color: #8b1c40;
	font-weight:bold;
	margin-top: 0px;
}
p {
	font-size: 24px;
}
a{
	color: #633;
}

.members{
	text-align: center;
	margin: 0px;
	padding: 20px;
}
img{
	border:#666 solid 10px;
	float: right;
}
span{
	text-decoration: underline;
	text-align: center;
	font-weight: bold;
}
h4{
	font-size: 75px;
	text-align:center;
	font-family: "Comic Sans MS", cursive;
	color: #8b1c40;
}
.why{
	background:#85BA78;	
	margin: 0px;
	padding: 20px;
}
.image{
	background:#85BA78;	
	margin: 0px;
	padding: 20px;
}
.join{
	background: #1e345d;
	border-top: #a2863d 10px solid;
	border-bottom: #a2863d 5px solid;
}